<section class="hero">
    <div class="title">
      <h1>WELCOME TO</h1>
      <h2>Black Ops Explorer</h2>
    </div>
    <div class="texto"> 
    <hr class="separador">   
      <p class="texto_cod">Sumérgete en el universo de la legendaria saga Call of Duty: Black Ops, donde el combate táctico y la acción 
        frenética se encuentran con historias profundas y emocionantes. Aquí nos enfocamos en los tres titanes de la 
        franquicia:
      <p class="texto_cods">  Black Ops II, Black Ops III y el anticipado Black Ops 6.</p>
      <p class="texto_cod">Exploramos cada detalle de estos juegos icónicos, desde las emocionantes campañas hasta las innovaciones en el modo multijugador. Si eres fanático de la estrategia militar, las tramas impactantes o las interminables batallas online, estás en el lugar indicado.</p>
      <p class="texto_cod">¡Prepárate para revivir la acción, descubrir secretos y sumergirte en nuestras reseñas exclusivas de tus títulos favoritos!</p>
    <hr class="separador">
  </div>
</section>  