.hero {
  text-align: center;
  padding: 50px 20px;
}

.title h1 {
  font-size: 48px;
  margin: 0;
}

.title h2 {
  font-size: 36px;
  margin: 10px 0;
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.images img {
  height: 200px;
  width: auto;
}

p {
  font-size: 22px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 20px;
}

.texto {
  background-color: #1B1B1B;
  padding: 60px;
}