<footer>
    <p class="texto_cods">INFORMACION LEGAL   |   TÉRMINOS DE USO   |   POLÍTICA DE PRIVACIDAD   |   TRABAJO   |   
        POLÍTICA DE COOKIES   |   ATENCIÓN AL CLIENTE   |   CÓDIGO DE CONDUCTA</p>
    <hr> 
    <div class="company-logos">
        <img src="/Imgs/Compañias2.png" alt="Companys">
    </div>    
    <hr>
    <br>
    <p class="texto_cods">Activision Publishing, Inc. ACTIVISION, CALL OF DUTY, CALL OF DUTY BLACK OPS, son marcas comerciales de 
        Activision Publishing, Inc. Las demás marcas y nombres comerciales pertenecen a sus respectivos dueños.</p>
    <br>
    <p class="texto_cods">© 2024. Todos los derechos reservados.</p>
    <br>
    <p class="texto_cods">By: 233425 - Rodrigo Vázquez Reyes. Buscame en mis redes como: TRoyGms. Correo: rodrigovazrys&commat;gmail.com</p>
</footer>